{% extends "shoe_shop.html" %}
{% block content %}

{% if totalCost == 0%}

<div class="container text-white">

    <div class="card mb-3 border-info rounded" style="max-width: 100%;">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <div class="card-body">
                    <div class="card-text text-center">
                        Looks like your cart is empty   :(
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% else %}
<div class="container mb-3">
    {% for item in items %}
    <div class="card mb-3 border-info rounded" style="max-width: 100%;">
        <div class="row no-gutters">
            <div class="col-md-3 d-flex justify-content-center align-items-center bg-white rounded">
                <img src="/static/images/{{ item.image }}" style="width: auto; height: 100px" class="card-img" alt="...">
            </div>
            <div class="col-md-5 d-flex justify-content-center align-items-center">
                <div class="card-body">
                    <h5 class="card-title text-white">{{item.itemname}}</h5>
                    <p class="card-text text-white">Cost : {{item.price}}</p>
                    <p class="card-text text-white">Quantity : {{item.quantity}}</p>
                    <p class="card-text text-white"><small >Stack Cost : {{item.stackCost}}</small></p>
                </div>
            </div>
            <div class="col-md-2 d-flex justify-content-center align-items-center">
                <div class="card-body">
                    <div class="card-text text-center form-group">
                        <form action="/reset_item_count" method="POST">
                            <label for="Quantity" class="text-white form-label">Quantity</label>
                            <input class="form-control text-white bg-transparent border border-info rounded-pill text-center mb-2" type="number" name="Quantity" id="Quantity" min=0 value="{{item.quantity}}">
                            <input type="hidden" name="id" id="id" value="{{ item.id }}"/>
                            <input type="submit" value="Reset" class="btn btn-outline-info">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-2 d-flex justify-content-center align-items-center">
                <div class="card-body">
                    <div class="card-text text-center form-group">
                        <form action="/remove_item" method="POST">
                            <input type="hidden" name="id" id="id" value="{{ item.id }}"/>
                            <input type="submit" value="Remove" class="btn btn-outline-info">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="container text-white">

    <div class="card mb-3 border-info rounded" style="max-width: 100%;">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <div class="card-body">
                    <div class="card-text text-center">
                        Total cost : {{totalCost}}
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <div class="card-body">
                    <div class="card-text text-center form-group">
                        <form action="/proceed_to_buy" method="POST">
                            <input type="submit" value="Proceed to Buy" class="btn btn-outline-info">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


{% endif %}

<style>
    .card
    {
        background-color: rgba(0, 0, 0, 0.5);
    }
</style>

{% endblock content %}