<form action="/login" method="POST">
<div class="login">
<div class="login-screen">
<div class="app-title">
<h1>Login</h1>
</div>
<div class="login-form">
<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="Username" name="username">
<label class="login-field-icon fui-user" for="login-name"></label></div>
<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="Password" name="password">
<label class="login-field-icon fui-lock" for="login-pass"></label></div>
<div>
<br>
                <input type="radio" name="choice" value="customer" checked>Customer<br>
                <input type="radio" name="choice" value="admin">Admin
</div>
<br>
<input type="submit" value="Log in" class="btn btn-primary btn-large btn-block">
</div>
</div>
</div>
</form>